b {
    cursor: pointer;
}

.js-cart {
    color: black;
    background-color: rgb(255, 216, 20);
    border-radius: 40px;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    font-family: Arial;
    border: none;
    font-weight: bold;
    margin: 10px;
}

.js-uber-req,
.js-istoggled {
    color: white;
    background-color: black;
    font-weight: bolder;
    border-radius: 10px;
    padding: 15px;
    border: none;
}

.js-uber-sch,
.no {
    color: black;
    background-color: rgb(230, 230, 230);
    font-weight: bolder;
    border-radius: 10px;
    padding: 15px;
    border: none;
    /* width: 200px; */
}

.js-game,
.js-music,
.js-tech,
.js-game2,
.js-music2,
.js-tech2  {
    cursor: pointer;
}